.imageNote {
  text-align: center;
}

.essay {
}

.essayTitle {
  font-family: "Megrim";
  margin: 4% 0;
  font-size: 2em;
}

.essayBody {
  line-height: 2;
  font-size: large;
}

.essayBody p {
  margin-bottom: 2rem;
}
