.imageNote {
  text-align: center;
}

.essay {
  width: 66.67%;
  padding: 7% 1%;
  margin: auto;
}

.essayTitle {
  font-family: "Megrim";
  margin: 4% 0;
  font-size: 2em;
}

.essayBody {
  line-height: 2;
  font-size: large;
}
