.imageViewer div:first-child {
  border: 1px solid lightgrey;
}
.leftChevron {
  font-family: "Avara-Black";
  font-size: 108pt;
  position: absolute;
  z-index: 2;
  top: 30%;
  background: none;
  cursor: pointer;
}

.rightChevron {
  font-family: "Avara-Black";
  font-size: 108pt;
  position: absolute;
  z-index: 2;
  top: 30%;
  right: 2%;
  background: none;
  cursor: pointer;
}
